<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="MemberMapper">
	<resultMap type = "com.tmybatis.member.model.vo.Member" id = "memberResultMap">
		<id property="memberId" column="MEMBER_ID"/>
		<result property="memberPwd" column="MEMBER_PWD" />
		<result property="memberName" column="MEMBER_NAME" />
		<result property="gender" column="GENDER" />
		<result property="age" column="AGE" />
		<result property="email" column="EMAIL" />
		<result property="phone" column="PHONE" />
		<result property="address" column="ADDRESS" />
		<result property="hobby" column="HOBBY" />
		<result property="enrollDate" column="ENROLL_DATE" />
	</resultMap>
	<select id="selectOneByLogin" resultMap = "memberResultMap"> 
  		SELECT * FROM MEMBER_TBL WHERE MEMBER_ID = #{memberId} AND MEMBER_PWD = #{memberPwd}
  	</select>
  	<select id="selectOneById" resultMap = "memberResultMap">
  		SELECT * FROM MEMBER_TBL WHERE MEMBER_ID =  #{memberId}
  	</select>
  	<!-- insert적고 엔터 치면 
  	id부분에 DAO? 메소드 명을 적어주기
  	그래야 안헷갈린다
  	그담 무슨 파라메터? 넣어줘야 하는데 자동으로 들어가서 안넣어주고!
  	이전 (?,?,?,?,?,?,?,?,?,DEFAULT)
  	? 에 #{}넣어줌!!
  	gender부분부터는 소문자??
  	필드명으로!!!!!Member private 다음 적은거!!
  	그래야 에러 없음 500에러 떠서 이번엔 vo에 Member 필드명으로 복붙!!]-->
  	<insert id="insertMember">
  		INSERT INTO MEMBER_TBL VALUES(#{memberId},#{memberPwd},#{memberName},#{gender},#{age},#{email},#{phone},#{address},#{hobby},DEFAULT)
  	</insert>
  	<update id="updateMember">
  		UPDATE MEMBER_TBL SET EMAIL = #{email}, PHONE= #{phone}, ADDRESS= #{address} ,HOBBY= #{hobby} WHERE MEMBER_ID = #{memberId}
  	</update>
  	<delete id="deleteMember">
  		DELETE MEMBER_TBL WHERE MEMBER_ID =  #{memberId}
  	</delete>
  
</mapper>